
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;}
.items div.page {
	float:left;}
a.left, a.right {
	display:block;
	width:21px;
	height:33px;
	position:relative;
	z-index:2;
	cursor:pointer;}
a.left {
	background:url(../../images/PowerPoint/btn_template_nav_left.png) no-repeat;}
a.right {
	left:-1px;
	background:url(../../images/PowerPoint/btn_template_nav_right.png) no-repeat;}
#status {
	position:absolute;
	color:#FFF;
	padding:0;
	top:8px;
	left:20px;}
#status li {
	display:none;}
#status li.active {
	display:block;
	color:#FFF;
	font-weight:normal;}